.avatar-page
    // border: 3px solid indigo

    .avatar-list
        // border: 3px solid blue
        padding: 1rem

        .player-avatar
            // border: 3px solid green
            height: 8rem
            
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            img
                // border: 3px solid yellow
                cursor: pointer
                opacity: .5
                transition: .2s

    .avatar-button
        // border: 3px solid blue
        padding: 1rem 0
        margin: 1.5rem 0

        button
            // border: 3px solid green
            text-transform: uppercase
            letter-spacing: 1.5px
            background-color: indigo
            border: none
            transition: .3s

        button:hover
            background-color: darkviolet


// M E D I A S

@media (max-width: 575px)

    .avatar-page
        margin-top: 2rem

    .avatar-list
        width: 20rem

    .player-avatar
        width: 4rem
        margin: .5rem

    .avatar-list .player-avatar img
        width: 70px

    .avatar-list .player-avatar img:hover
        width: 80px
        opacity: 1
		
    .avatar-button button
        font-size: 0.8rem

@media (min-width: 576px)

    .player-avatar
        width: 8rem

    .avatar-list .player-avatar img
        width: 80px

    .avatar-list .player-avatar img:hover
        width: 90px
        opacity: 1

    #selected img
        width: 90px
        opacity: 1

    .avatar-button button
        font-size: 0.8rem
