.avatar-page
    border: 3px solid indigo
    margin-top: 2rem

    .blocked
        pointer-events: none

    .avatar-list
        border: 3px solid blue
        padding: .5rem

        .player-avatar
            border: 3px solid green
            height: 5rem
            display: flex
            margin: .3rem
            flex-direction: column
            justify-content: center
            align-items: center

            img
                border: 3px solid yellow
                cursor: pointer
                margin: 1rem
                opacity: .5
                transition: .3s

            img:hover
                opacity: 1
                pointer-events: auto

    .avatar-button
        border: 3px solid blue
        padding: 1rem 0
        margin: 1.5rem 0

        button
            border: 3px solid green
            text-transform: uppercase
            letter-spacing: 1.5px
            background-color: indigo
            transition: .3s

        button:hover
            background-color: darkviolet


// M E D I A S

@media (max-width: 575px)

    .player-avatar img
        width: 70px

    .player-avatar img:hover
        width: 80px
		
    .avatar-button button
        font-size: 1.0rem

@media (min-width: 576px)



@media (min-width: 768px)



@media (min-width: 992px)



@media (min-width: 1200px)



@media (min-width: 1400px)

