.delete-account-page

    h2
        padding: 1.5rem 0
        font-size: 35px
    
    h3
        padding: 1.5rem 0
        font-size: 20px

    p
        padding: 1rem 0
        margin-bottom: 1rem
        color: #444
    
    .delete-account-options a
        font-size: 18px
        margin: 1rem 0
        color: #222
        transition: .1s
        
    a:hover
        font-weight: bold
        color: royalblue