@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')

.header-title
    // border: 3px solid indigo

    h1
        // border: 3px solid blue
        margin: .3rem 0
        display: flex

        a
            // border: 3px solid green
            color: #333
            padding: .2rem .3rem
            transition: .2s
    
        a:hover
            color: mediumblue

.header-nav
    // border: 3px solid indigo

    .header-nav-options
        // border: 3px solid blue
        display: flex
        align-items: center
        justify-content: center

        .profile-link
            // border: 3px solid green

            a
                // border: 3px solid yellow
                color: #333
                transition: .2s
        
            a:hover
                color: mediumblue

        .second-link
            // border: 3px solid green    
            
            a
                // border: 3px solid yellow
                color: #333
                text-transform: uppercase
                transition: .2s
        
            a:hover
                color: mediumblue

        .header-button
            // border: 3px solid green

            a
                // border: 3px solid yellow
                color: #FFF
                text-transform: uppercase
                letter-spacing: 1.5px
                padding: .4rem .8rem
                border-radius: 6px
                transition: .2s
            
        .signup-btn
            // border: 3px solid green

            a
                // border: 3px solid yellow
                background-color: midnightblue
        
            a:hover
                background-color: darkslateblue
        
        .logout-btn
            // border: 3px solid green

            a
                // border: 3px solid yellow
                background-color: darkslategrey
        
            a:hover
                background-color: dimgrey
        
        .fa-solid
            // border: 3px solid green
            color: #333
            padding: .4rem
            transition: .2s
        
        .fa-solid:hover
            color: darkslateblue
    
    .player-username
        // border: 3px solid blue
        display: flex
        align-items: center
        justify-content: end


// M E D I A S

@media (max-width: 575px)

    .header-title a
        font-size: 1.4rem

    .fa-solid
        font-size: 1.4rem

@media (min-width: 576px)

    .header-title a
        font-size: 1.4rem

    .fa-solid
        font-size: 1.4rem

    .profile-link a
        font-size: 0.8rem
    
@media (min-width: 768px)

    .header-title a
        font-size: 1.4rem

    .profile-link a
        font-size: 0.8rem
    
    .second-link a
        font-size: 0.8rem
    
    .header-button a
        font-size: 0.8rem

@media (min-width: 992px)
