.home-page
    // border: 3px solid indigo 
    color: #444
    padding: 2rem

    .home-title
        // border: 3px solid blue
        margin-bottom: 1rem

        h2
            margin: .5rem 0
            // border: 3px solid green
        
    .home-subtitle
        // border: 3px solid blue
        margin-bottom: 3rem

        h3
            margin: .5rem 0
            // border: 3px solid green

    .home-presentation
        // border: 3px solid blue
        margin-bottom: 6rem

        p
            margin: .5rem 0
            // border: 3px solid green

    .ranking-button
        // border: 3px solid blue
        
        a
            // border: 3px solid green
            color: #FFF
            text-transform: uppercase
            letter-spacing: 1.5px
            padding: .5rem .8rem
            border-radius: 6px
            background-color: forestgreen
            transition: .2s
        
        a:hover
            background-color: seagreen


// M E D I A S

@media (max-width: 575px)

    .home-page
        margin-top: 2rem

    .home-title h2
        font-size: 1.4rem
    
    .home-subtitle h3
        font-size: 1.2rem

    .home-presentation p
        font-size: 1.0rem

    .ranking-button a
        font-size: 0.8rem

@media (min-width: 576px)

    .home-page
        margin-top: 4rem

    .home-title h2
        font-size: 1.5rem
    
    .home-subtitle h3
        font-size: 1.3rem

    .home-presentation p
        font-size: 1.1rem

    .ranking-button a
        font-size: 0.8rem
