.login-page
    border: 3px solid indigo
    color: #444
    margin-top: 2rem
    width: 90%

    .login-title
        padding: 1rem 0

        h2
            margin: 0

    .login-form
        padding: .5rem

        .form-group
            margin: .5rem 0

            .login-warnings
                color: red
                text-align: left
                height: 1.5rem
                padding: .2rem 0
            
            .form-control

            .forgot-data
                text-align: left
                padding: .2rem 0

                a
                    color: navy
                    transition: .4s

                a:hover
                    color: midnightblue
                
        .login-button
            margin: 1rem 0
            
            button
                letter-spacing: 3px
                text-transform: uppercase
                background-color: indigo
                color: #FFF
                transition: .3s

            button:hover
                background-color: darkviolet


// M E D I A S

@media (max-width: 575px)

    .login-title
        font-size: 1.6rem
    
    .login-warnings
        font-size: 0.8rem

    .form-control
        font-size: 1.0rem

    .forgot-data
        font-size: 0.8rem

    .login-button button
        font-size: 1.0rem

@media (min-width: 576px)

    .login-page
        background-color: #DDD

    .login-title
        font-size: 1.0rem
    
    .login-warnings
        font-size: 1.0rem

    .form-control
        font-size: 1.0rem

    .forgot-data p
        font-size: 1.0rem

    .signup-button button
        font-size: 1.0rem

@media (min-width: 768px)

    .login-title
        font-size: 1.0rem
    
    .login-warnings
        font-size: 1.0rem

    .form-control
        font-size: 1.0rem

    .forgot-data p
        font-size: 1.0rem

    .signup-button button
        font-size: 1.0rem

@media (min-width: 992px)

    .login-title
        font-size: 1.0rem
    
    .login-warnings
        font-size: 1.0rem

    .form-control
        font-size: 1.0rem

    .forgot-data p
        font-size: 1.0rem

    .signup-button button
        font-size: 1.0rem

@media (min-width: 1200px)

    .login-title
        font-size: 1.0rem
    
    .login-warnings
        font-size: 1.0rem

    .form-control
        font-size: 1.0rem

    .forgot-data p
        font-size: 1.0rem

    .signup-button button
        font-size: 1.0rem

@media (min-width: 1400px)

    .login-title
        font-size: 1.0rem
    
    .login-warnings
        font-size: 1.0rem

    .form-control
        font-size: 1.0rem

    .forgot-data p
        font-size: 1.0rem

    .signup-button button
        font-size: 1.0rem
