.profile-page
    // border: 3px solid red
    color: #222

    .profile-main
        // border: 3px solid black
        text-align: left

        .profile-title
            // border: 3px solid blue
            font-size: 1.2rem
            margin: 0

        .profile-email
            // border: 3px solid blue
            font-size: .8rem
            color: #333
            margin: .5rem 0

        .profile-stats
            // border: 3px solid blue
            font-size: .9rem
            width: 70%
            margin-top: 1rem

            .list-group-item
                padding-left: 0

    .profile-aside
        // border: 3px solid black

        .profile-avatar
            // border: 3px solid blue

            .avatar-img
                // border: 3px solid purple
                width: 140px

            .change-avatar
                // border: 3px solid purple
                
                a
                    font-size: .7rem
                    color: #222
                    transition: .4s

                a:hover
                    color: royalblue

        .profile-id
            // border: 3px solid blue
            font-size: .6rem
            color: #888
            padding: .4rem 0

        .profile-account-configs
            // border: 3px solid blue
            padding: .5rem 0
            
            a
                font-size: .9rem
                color: #222
                margin: .3rem 0
                transition: .4s

            a:hover
                color: royalblue