.profile-page
    // border: 3px solid red
    color: #222

    .profile-aside
        // border: 3px solid black
        padding: 1rem 0

        .profile-avatar
            // border: 3px solid blue

            img
                // border: 3px solid purple

            .change-avatar
                // border: 3px solid purple

                a
                    color: #222
                    transition: .4s

                a:hover
                    color: royalblue

        .profile-account-configs
            // border: 3px solid blue
            padding: .5rem 0

            a
                // border: 3px solid purple
                color: #222
                margin: .3rem 0
                transition: .4s

            a:hover
                color: royalblue

    .profile-main
        // border: 3px solid black
        display: flex
        justify-content: center
        align-items: center

        .profile-stats
            // border: 3px solid orange
            width: 50%

    .profile-title
        // border: 3px solid blue
        margin: 0

    .profile-email
        // border: 3px solid blue
        color: #333
        margin: .3rem 0 1rem 0

    @media (max-width: 576px)

        .profile-aside .profile-avatar img
            width: 170px
            margin-top: 1.5rem

        .profile-aside .profile-avatar .change-avatar a
            font-size: 1rem

        .profile-aside .profile-account-configs a
            font-size: 1.4rem

        .profile-main .profile-stats
            font-size: 1.4rem

        .profile-title
            font-size: 1.8rem

        .profile-email
            font-size: 1rem

    @media (min-width: 576px) and (max-width: 768px)

        .profile-aside .profile-avatar img
            width: 165px

        .profile-aside .profile-avatar .change-avatar a
            font-size: .9rem

        .profile-aside .profile-account-configs a
            font-size: 1.3rem

        .profile-main .profile-stats ul
            font-size: 1.2rem

        .profile-title
            font-size: 1.7rem

        .profile-email
            font-size: .9rem

    @media (min-width: 768px) and (max-width: 992px)

        .profile-aside .profile-avatar img
            width: 160px

        .profile-aside .profile-avatar .change-avatar a
            font-size: .8rem

        .profile-aside .profile-account-configs a
            font-size: 1.2rem

        .profile-main .profile-stats ul
            font-size: 1.1rem

        .profile-title
            font-size: 1.6rem

        .profile-email
            font-size: .8rem

    @media (min-width: 992px) and (max-width: 1200px)

        .profile-aside .profile-avatar img
            width: 155px

        .profile-aside .profile-avatar .change-avatar a
            font-size: .7rem

        .profile-aside .profile-account-configs a
            font-size: 1.1rem

        .profile-main .profile-stats ul
            font-size: 1rem

        .profile-title
            font-size: 1.5rem

        .profile-email
            font-size: .7rem
    
    @media (min-width: 1200px) and (max-width: 1400px)

        .profile-aside .profile-avatar img
            width: 155px

        .profile-aside .profile-avatar .change-avatar a
            font-size: .7rem

        .profile-aside .profile-account-configs a
            font-size: 1.1rem

        .profile-main .profile-stats ul
            font-size: 1rem

        .profile-title
            font-size: 1.5rem

        .profile-email
            font-size: .7rem
    
    @media (min-width: 1400px)

        .profile-aside .profile-avatar img
            width: 150px

        .profile-aside .profile-avatar .change-avatar a
            font-size: .7rem

        .profile-aside .profile-account-configs a
            font-size: 1rem

        .profile-main .profile-stats ul
            font-size: .9rem

        .profile-title
            font-size: 1.4rem

        .profile-email
            font-size: .7rem