.ranking-page
    border: 3px solid indigo
    color: #444
    margin-top: 2rem

    .ranking-title
        border: 3px solid blue
        padding: .5rem 0

        h2
            border: 3px solid green
            margin: .5rem 0

    .ranking-table
        border: 3px solid blue
        padding: .5rem 0
        width: 100%

        table
            border: 3px solid green

            thead
                border: 3px solid yellow
                background-color: lightsteelblue

                tr
                    border: 3px solid orange


                    th
                        border: 3px solid red
                        padding: .3rem 0

                        p
                            border: 3px solid grey
                            margin: 0

            tbody
                border: 3px solid yellow
                background-color: #EEE

                tr
                    border: 3px solid orange

                    td
                        border: 3px solid red
    
    .noplayers-msg
        border: 3px solid blue
        color: #666
    
    .ranking-descrip
        border: 3px solid blue
        color: #777
        text-align: left

        ul
            border: 3px solid green
            padding: 0
            margin: 0

            li
                border: 3px solid yellow


// M E D I A S

@media (max-width: 575px)

    .ranking-page
        width: 21rem

    .head-player
        width: 45%
    
    .head-stats
        width: 10%

    .ranking-title h2
        font-size: 1.4rem
    
    .ranking-table thead
        font-size: 0.8rem
    
    .ranking-table tbody
        font-size: 0.8rem
            
    .ranking-descrip ul
        font-size: 0.6rem

@media (min-width: 576px)



@media (min-width: 768px)



@media (min-width: 992px)



@media (min-width: 1200px)



@media (min-width: 1400px)


