.settings-page
    border: 3px solid ingigo
    color: #444
    margin-top: 2rem
    width: 85%

    .settings-title
        border: 3px solid blue
        padding: .5rem 0

        h2
            border: 3px solid green
            margin: 0

    .settings-form
        border: 3px solid blue
        padding: .5rem

        .form-group
            border: 3px solid green
            margin: .5rem 0
            
            .settings-warnings
                border: 3px solid yellow
                color: red
                text-align: left
                height: 1.5rem
                padding-bottom: .2rem
                margin: .2rem 0

            input
                border: 3px solid yellow

            .form-text
                border: 3px solid yellow
                text-align: left
                margin: .3rem 0
        
        .settings-message
            border: 3px solid green
            height: 2rem
            padding: .2rem 0
            color: blue

        .settings-button
            border: 3px solid green
            margin: 1rem 0
            
            button
                color: #FFF
                text-transform: uppercase
                letter-spacing: 1.5px
                background-color: indigo
                transition: .3s

            button:hover
                background-color: darkviolet


// M E D I A S

@media (max-width: 575px)

    .settings-title h2
        font-size: 1.4rem
		
    .settings-warnings
        font-size: 0.8rem
    
    .form-group input
        font-size: 0.8rem
    
    .form-text
        font-size: 0.6rem

    .password
        font-size: 0.6rem

    .settings-message
        font-size: 0.8rem
    
    .settings-buttun button
        font-size: 1.0rem

@media (min-width: 576px)



@media (min-width: 768px)



@media (min-width: 992px)



@media (min-width: 1200px)



@media (min-width: 1400px)


