.signup-page
    background-color: #DDD
    // // border: 2px solid blue
    padding: .5rem 1.5rem
    border-radius: 7px

    .signup-title
        // border: 2px solid green
        width: 100%
        margin: .5rem 0

        h2
            font-size: 1.3rem
            margin: 0

    .signup-form
        // border: 2px solid green
        height: 22rem
        width: 100%

        .form-group
            // border: 2px solid purple
            
            .signup-warnings
                // border: 2px solid red
                font-size: .7rem
                color: red
                text-align: left
                height: 1.2rem
                padding-left: .2rem
            
            .form-control
                font-size: .9rem
                margin-top: .3rem

            .form-text
                font-size: .7rem
                text-align: left
                padding-left: .2rem
            
        .signup-username
            // height: 4.2rem
                
        .signup-button
            // border: 2px solid purple
            margin-top: 1.5rem
            
            button
                font-size: .9rem
                letter-spacing: 3px
                text-transform: uppercase
                background-color: indigo
                color: #FFF
                // // border: none
                transition: .3s

            button:hover
                background-color: darkviolet