<link href="css/header.css" rel="stylesheet">

<div class="row
    d-flex justify-content-center">

    <div class="header-title
        d-flex justify-content-center align-items-center
        col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
        <h1>
            <a href="/">RPSGame</a>
        </h1> 
    </div>

    <div class="header-nav
        d-flex flex-column justify-content-center
        col-6 col-sm-7 col-md-9 col-lg-8 col-xl-7">
        
        <div class="row">
            
            <% if (player) { %>
        
                <div class="header-nav-options player-username
                    col-4 col-sm-6 col-md-6">

                    <div class="profile-link d-none d-sm-block">
                        <a class="nav-link" href="/profile"><%= player.username %></a>
                    </div>

                    <div class="d-block d-sm-none">
                        <a class="nav-link" href="/profile">
                            <i class="fa-solid fa-user-astronaut"></i>
                        </a>
                    </div>

                </div>
        
                <div class="header-nav-options
                    col-4 col-sm-3 col-md-3">

                    <div class="second-link d-none d-md-block">
                        <a class="nav-link" href="/game">Play Now</a>
                    </div>

                    <div class="d-block d-md-none">
                        <a class="nav-link" href="/game">
                            <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </div>

                </div>

                <div class="header-nav-options
                    col-4 col-sm-3 col-md-3">

                    <div class="header-button logout-btn d-none d-md-block">
                        <a class="text-center nav-link" href="/logout">Log out</a>
                    </div>

                    <div class="d-block d-md-none">
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>

                </div>
        
            <% } else { %>
        
                <div class="header-nav-options player-username
                    col-4 col-md-6">

                    <div class="d-none d-sm-block"></div>

                    <div class="d-block d-sm-none"></div>

                </div>
        
                <div class="header-nav-options
                    col-4 col-md-3">

                    <div class="second-link d-none d-md-block">
                        <a class="nav-link second-btn" href="/login">Log in</a>
                    </div>

                    <div class="d-block d-md-none">
                        <a class="nav-link" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    </div>

                </div>
        
                <div class="header-nav-options
                    col-4 col-md-3">

                    <div class="header-button signup-btn d-none d-md-block">
                        <a class="text-center nav-link" href="/signup">Sign up</a>
                    </div>

                    <div class="d-block d-md-none">
                        <a class="nav-link" href="/signup">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                    </div>

                </div>
        
            <% } %>
            
        </div>

    </div>
        
</div>