<link href="css/avatar.css" rel="stylesheet">

<div class="row">

    <div class="avatar-page
        d-flex flex-column justify-content-center align-items-center
        col-12">
    
        <div class="player-id" style="visibility: hidden;"><%= player._id %></div>

        <div class="avatar-list
            col-12">

            <div class="row
                d-flex justify-content-around text-center">
    
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarwoman1" onclick="selectAvatar('avatarwoman1')" src="images/avatars/avatarwoman1.png" alt="woman 1 avatar">
                </div>
        
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarwoman2" onclick="selectAvatar('avatarwoman2')" src="images/avatars/avatarwoman2.png" alt="woman 1 avatar">
                </div>
        
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarwoman3" onclick="selectAvatar('avatarwoman3')" src="images/avatars/avatarwoman3.png" alt="woman 1 avatar">
                </div>
    
            </div>
    
            <div class="row
                d-flex justify-content-around text-center">
    
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarman1" onclick="selectAvatar('avatarman1')" src="images/avatars/avatarman1.png" alt="woman 1 avatar">
                </div>
            
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarman2" onclick="selectAvatar('avatarman2')" src="images/avatars/avatarman2.png" alt="woman 1 avatar">
                </div>
    
                <div class="player-avatar
                    col-3 col-lg-2">
                    <img class="avatarman3" onclick="selectAvatar('avatarman3')" src="images/avatars/avatarman3.png" alt="woman 1 avatar">
                </div>
    
            </div>

        </div>

        <div class="row">

            <div class="avatar-button
                d-flex d-flex justify-content-center align-items-center
                col-11">
                <button class="btn btn-primary shadow-none">Change</button>
            </div>
            
        </div>
    
    
    </div>
    
</div>

<script src="js/avatar.js"></script>