<link href="css/delete-account.css" rel="stylesheet">

<div class="row">

    <div class="delete-account-page col-12">
    
        <h2>Deleting Your Account</h2>
    
        <h3>Are you sure you want to remove your account?</h3>
    
        <p>
            If yes, your account will be permanently removed.<br>
            And all your information will be deleted from our database.
        </p>
    
        <div class="delete-account-options d-flex flex-column align-items-center">
    
            <a href="/player-removed">Yes, I'm sure.</a>
    
            <a href="/profile">No, I'll stay!</a>
    
        </div>
        
    </div>

</div>