<link href="css/delete.css" rel="stylesheet">

<div class="row
    d-flex flex-column justify-content-center align-items-center text-center">

    <div class="delete-page
        text-center
        col-9 col-sm-8">
    
        <div class="delete-title">
            <h2>Deleting Your Account</h2>
        </div>
    
        <div class="delete-subtitle">
            <h3>Are you sure you want to remove your account?</h3>
        </div>
    
        <div class="delete-presentation">
            <p>
                If yes, your account will be permanently removed.<br>
                And all your information will be deleted from our database.
            </p>
        </div>
    
        <div class="delete-options
            d-flex flex-column align-items-center">
    
            <a href="/removed">Yes, I'm sure.</a>
    
            <a href="/profile">No, I'll stay!</a>
    
        </div>
        
    </div>

</div>