<link href="css/home.css" rel="stylesheet">

<div class="row">

    <div class="home-page
        d-flex flex-column justify-content-center align-items-center col-12">
    
        <div class="home-title">
            <h2>Rock-Paper-Scissors</h2>
        </div>

        <div class="home-subtitle">
            <h3>the game</h3>
        </div>

        <div class="home-presentation">
            <p>Welcome and Have Fun!</p>
        </div>
        
        <div class="ranking-button">
            <a href="/ranking">Check Ranking</a>
        </div>
    
    </div>

</div>