<link href="css/login.css" rel="stylesheet">

<div class="row
    d-flex flex-column justify-content-center align-items-center">

    <div class="login-page
        d-flex flex-column justify-content-center align-items-center text-center
        col-10 col-sm-11">

        <div class="row">
        
            <div class="login-title">
                <h2>Log In!</h2>
            </div>
        
            <form class="login-form
                d-flex flex-column justify-content-around">
        
                <div class="form-group login-username">
                    <div class="username-error login-warnings"></div>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <div class="forgot-data">
                       <p>Forgot your username? <a href="#">Click here!</a></p>
                    </div>
                </div>
        
                <div class="form-group login-password">
                    <div class="password-error login-warnings"></div>
                    <input type="password" class="form-control" name="password" placeholder="Password"> 
                    <div class="forgot-data">
                       <p>Forgot your password? <a href="#">Click here!</a></p>
                    </div>
                </div>
        
                <div class="login-button">
                    <button type="submit" class="btn shadow-none">ENTER</button>
                </div>
            
            </form>

        </div>
          
    </div>

</div>

<script src="js/login.js"></script>