<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/removed.css" rel="stylesheet">
    <title>Player Removed</title>
</head>

<body onload="removedPlayer()">

    <div class="removed-page">
    
        <div style="display: none" class="playerId"><%- player._id -%></div>

        <h4>That's a shame ):</h4>
    
        <h6>We hope that one day you will play with us again!</h6>
    
        <p>You will be redirected to the home page in 7 seconds...</p>
        
    </div>

    <script src="js/removed.js"></script>

</body>

</html>